@font-face {
  font-family: 'entypo-fontello';
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url('/fonts/entypo-fontello/entypo-fontello.woff');
}

@font-face {
  font-family: "open sans";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url('https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2');
}

@font-face {
  font-family: "open sans";
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  src: url('https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUuhp.woff2');
}