


<div class="header">
    <div class="container">
        <div class="d-flex justify-content-between">
            <a href="/">
                <img src="/images/logos/logo.png" alt="" class="logo">
            </a>
            <div class="d-flex">
                <a href="/" class="d-flex align-items-center menu-item<%= page == "home" ? " active" : "" %>">Home</a>
                <a href="/dtl-systems-ltd/#top" class="d-flex align-items-center menu-item<%= page == "systems" ? " active" : "" %>">DTL Systems Ltd</a>
                <a href="/kepware" class="d-flex align-items-center menu-item">Kepware Ireland</a>
                <a href="" class="d-flex align-items-center menu-item">OMRON</a>
                <a href="" class="d-flex align-items-center menu-item">Provideam</a>
                <a href="" class="d-flex align-items-center menu-item">Contact</a>
                <a href="" class="d-flex align-items-center menu-item">News</a>
                <div class=""><img src="" alt=""></div>
            </div>
        </div>
    </div>
</div>