<!DOCTYPE html>
<html id="html" lang="ru" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DTL Systems Ltd | A leading integrator of Automation IT solutions in Ireland</title>

    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <% var page = "home"; %>
    <% include ../parts/header %>


    <script src="main.js"></script>
    <script src="index.js"></script>

</html>